@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

﻿<div class="border-b border-gray-200 mt-4">
    <nav class="-mb-px flex gap-6" aria-label="Tabs">
        <a @onclick="() => ChangeTab(TimeEntryFilterType.Day)" class="@TabCss(TimeEntryFilterType.Day)">
            By Day
        </a>

        <a @onclick="() => ChangeTab(TimeEntryFilterType.Month)" class="@TabCss(TimeEntryFilterType.Month)">
            By Month
        </a>

        <a @onclick="() => ChangeTab(TimeEntryFilterType.Year)" class="@TabCss(TimeEntryFilterType.Year)">
            By Year
        </a>

        <a @onclick="() => ChangeTab(TimeEntryFilterType.Project)" class="@TabCss(TimeEntryFilterType.Project)">
            By Project
        </a>
    </nav>
</div>

@code {
    [Parameter]
    public EventCallback<TimeEntryFilterType> TabChanged { get; set; }
    private TimeEntryFilterType currentType = TimeEntryFilterType.Day;

    private async void ChangeTab(TimeEntryFilterType type)
    {
        currentType = type;
        await TabChanged.InvokeAsync(type);
    }

    private string TabCss(TimeEntryFilterType type) => currentType == type ?
        "cursor-pointer shrink-0 border-b-2 border-sky-500 px-1 pb-4 text-sm font-medium text-sky-600" :
        "cursor-pointer shrink-0 border-b-2 border-transparent px-1 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700";

    public enum TimeEntryFilterType
    {
        Day,
        Month,
        Year,
        Project
    }
}
